.review__title {
  margin-left: 30px;
  margin-right: 30px;
}

.detail-review {
  background-color: #fff;
  padding-top: 30px;
}

.detail-review__content {
  margin: 0px auto;
  max-width: 900px;
}

.detail-review__wrapper {
  padding: 10px 0px;
  margin: 30px;
}

.detail-review-list {
  margin-top: 10px;
  padding: 10px;
  height: 80vh;
}