.hero {
  display: flex;
  align-items: center;
  min-height: 380px;
  width: 100%;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/heros/hero-image_4.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #202020;
  margin-top: 50px;
}

.hero__inner {
  margin: 0 auto;
  max-width: 800px;
  padding: $m-size;
}

.hero__title {
  color: #fff;
  font-weight: 500;
  font-size: 36px;
  padding: $m-size;
}

.hero__tagline {
  color: #fff;
  margin-top: 16px;
  font-size: 18px;
  font-weight: 300;
}