#likeButton {
  min-height: 44px;
  min-width: 44px;
  position: fixed;
  bottom: 16px;
  right: 16px;
  border-radius: 50%;
  background-color: #303030;
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  transition: 0.3s;
  z-index: 10;
}

#like:hover {
  background-color: #222222;
}

#likeButton .fa-heart {
  color: white;
}

#likeButton.like .fa-heart {
  color: red;
}